terraform/.terraform/
terraform/intrucstion
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/outputs.json
terraform/terraform_output.json
ansible/ansible.cfg
ansible/ansible.log
ansible/inventory.ini
.idea/
